---
---
@import 'colors';
@import 'functions';
@import 'mixins';
@import 'variables';

header.results-header {
  @include media-breakpoint-down(sm) {
    h1 {
      @include typography-display-3;
    }
  }
}

table.results-table-classic {
  th.event {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    width: 1.25rem;
  }

  td {
    white-space: nowrap;
  }

  td.event-points {
    text-align: center;
  }
}
