<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

<!-- CSS -->
<!-- Add Material font (Roboto) and Material icon as needed -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Add Material CSS, replace Bootstrap CSS -->
<link href="/assets/css/material.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="navdrawer"
    data-target="#navdrawerDefault" aria-controls="navdrawerDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-light"></span>
  </button>
</nav>

<div aria-hidden="true" class="navdrawer" id="navdrawerDefault">
  <div class="navdrawer-content">
    <div class="navdrawer-header bg-secondary">
      <a class="navbar-brand text-light" href="#">UnOs Results</a>
    </div>
    <nav class="navdrawer-nav">
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">GitHub</a>
    </nav>
    <div class="navdrawer-divider"></div>
    <p class="navdrawer-subheader">All results</p>
    <ul class="navdrawer-nav">
      <a class="nav-item nav-link text-muted py-2" href="#">2018 Nationals Div B</a>
      <a class="nav-item nav-link text-muted py-2" href="#">2018 Nationals Div C</a>
      <a class="nav-item nav-link text-muted py-2" href="#">2017 Nationals Div B</a>
      <a class="nav-item nav-link text-muted py-2" href="#">2017 Nationals Div C</a>
    </ul>
  </div>
</div>


<div class="jumbotron bg-primary">
  <div class="container">
  <h1 class="display-1 text-light">UnOs Results</h1>
  <p class="lead text-light">Powered by the SciolyFF</p>
  </div>
</div>

<main class="container mt-5" aria-label="Content">
  {{ content }}
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!-- Then Material JavaScript on top of Bootstrap JavaScript -->
<script src="/assets/js/material.min.js"></script>
</body>
</html>
